html {
    background: #fafafa;
    margin: 2px;

    .navigation-container{
      font-family: 'Catamaran', sans-serif;
      display: flex;
      justify-content: center;
      background-color: #484848;
      letter-spacing: 1px;

      a {
        text-decoration: none;
        padding: 12px;
        color: #fafafa;
      }
      a:hover {
        color: rgba(255, 255, 255, 0.5);
        transition: color 0.3s ease-in-out;
      }

    }

    body {
// markdown styles
        .markdown-component {
            font-family: 'IM Fell English', serif;
            padding: auto;
            display: flex;
            flex-direction: row;
            background: #c0dfe0;
            color: #484848;

            h1 {
              letter-spacing: 1px;
              margin: 1.5em 0 .5em 0;
            }

            .markdown-container {
                width: 50%;
                background: #c0dfe0;
                display: inline-block;
                text-align: center;
            }

            .preview-container {
                display: inline-block;
                text-align: center;
                width: 50%;
                background: #c0dfe0;
            }

            .submit-button-container {
                align-content: flex-end;
                justify-content: center;
            }

            .textarea {
                border: 1px solid #484848;
                background-color: #fafafa;
                margin: auto;
                height: 70vh;
                width: 60vh;
                word-wrap: break-word;
                overflow: hidden;
            }

            .submit-button {
              background-image: linear-gradient(-180deg, fuchsia 0%, red 90%);
              background-color: fuchsia;
              border: 2px solid blue;
              border-radius: 4px;
              padding: 4px 8px;
              font-size: 40px;
              margin: 1em;
              color: yellow;
            }
            .submit-button:hover {
              background-image: linear-gradient(-180deg, fuchsia 0%, darkred 90%);
            }

            .submit-button:active {
              background-image: linear-gradient(-180deg, cyan 0%, blue 90%);
            }
        }

      // jeopardy styles
      .jeopardy-container {
          margin: 0 auto;
          padding: 0;
          font-family: 'Amatic SC', cursive;
          text-align: center;
          color: #fafafa;

          .start-section {
              background-color: #414dc9;
          }
          .jeopardy-input {
              font-family: 'Amatic SC', cursive;
              font-size: 36px;
              background: #414dc9;
              color: #fafafa;
              border-style: none;
              border: 1px solid #fafafa;
              padding: 4px;
              margin: 6px;
          }
          .jeopardy-h1 {
              font-family: 'Fredericka the Great', cursive;
              color: #fafafa;
              font-size: 6rem;
              margin: 0 auto;
          }
          .jeopardy-h2 {
              font-family: 'Amatic SC', cursive;
              font-size: 32px;
              color: #fafafa;
              margin: 12px 2px;
              background-color: #414dc9;
              border: 2px solid black;

              .jeopard-modal-title {
                  font-family: 'Amatic SC', cursive;
                  font-size: 32px;
                  margin: 12px 2px;
                  background-color: #414dc9;
              }
          }
          ul.category {
              list-style: none;
              background-color: gray;
              padding: 0;
              margin: 0;
              display: flex;
              justify-content: center;
          }
          .category-list {
              width: 16%;

          }

          .clues-list {
              list-style: none;
              padding: 0;

              .jeopardy-values {
                box-sizing: border-box;
                padding: 6px;
                border: 2px solid black;
                background-color: #414dc9;
              }

              .jeopardy-value {
                  text-decoration: none;
                  font-family: 'Amatic SC', cursive;
                  font-size: 32px;
                  color: #ffcc2c;
              }
              .jeopardy-value-viewed {
                text-decoration: none;
                font-family: 'Amatic SC', cursive;
                font-size: 32px;
                color: #414dc9;
                margin: 0;
              }

          }
          .correct-answer, .jeopardy-score {
            font-size: 36px;
          }
          .scoreboard {
            display: flex;
            justify-content: space-around;
            background-color: #414dc9;
          }
          h1.correct-answer-title, h1.scoreboard-title {
            margin: 0;
          }
      }

      .modal-container {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.6);
      }

      .modal {
          background-color: #414dc9;
          width: 800px;
          position: relative;
          margin: 10% auto;
          padding: 5px 20px 13px;
          border-radius:10px;
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      }

// quiz styles
      main.quiz-main, .quiz-div {

          display: flex;
          justify-content: center;
          font-size: 36px;
          color: #fafafa;
          font-family: 'Pompiere', cursive;
          margin: auto;
          padding: auto;
          background: rgba(34,113,209,1);
          background: -moz-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,113,209,1)), color-stop(21%, rgba(34,113,209,1)), color-stop(80%, rgba(37,164,220,1)), color-stop(100%, rgba(38,181,224,1)));
          background: -webkit-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
          background: -o-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
          background: -ms-linear-gradient(left, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
          background: linear-gradient(to right, rgba(34,113,209,1) 0%, rgba(34,113,209,1) 21%, rgba(37,164,220,1) 80%, rgba(38,181,224,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2271d1', endColorstr='#26b5e0', GradientType=1 );

          h1 {
              font-family: 'Amatic SC', cursive;
              font-size: 108px;
          }
          nav {
              display: flex;
              font-size: 24px;
              justify-content: space-between;
          }
          a, button {
              font-family: 'Amatic SC', cursive;
              text-decoration: none;
              color: #fafafa;
              padding: 2px;
              border: 1px solid #fafafa;
              border-radius: 6px;
              background-color: rgba(34,113,209,1);
          }
          input {
              margin: 4px;
          }
          .left {
              justify-content: flex-start;
          }

          .right {
              justify-content: flex-end;
          }
          table {
              color: #fafafa;
              tbody {
                  font-size: 18px;
                  text-align: left;
              }
              td {
                  border: 1px solid #fafafa;
                  padding: 6px;
              }
          }
          .active {
              font-weight: bold;
          }

          .red {
              background-color: red;
          }
      } // close main.quiz-main

    } //close body
} //close html





/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
